[include mainsail.cfg]
[include moonraker_obico_macros.cfg]
#[include generic-bigtreetech-xxx.cfg]
[include Sensorless-Homing.cfg]
[include stealthburner_leds.cfg]
[include stealthburner_led_effects_barf.cfg]
[include KAMP_Settings.cfg]
[include clean_nozzle.cfg]
[include macros.cfg]
[include bedfans.cfg]
[include Shaketune.cfg]
[include Disco_LED.cfg]

# host MCU service is preinstalled and ready to use with:
## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Thermistor types                     [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

# [mcu CB2]
#  serial: /tmp/klipper_host_mcu

[virtual_sdcard]
[display_status]
[pause_resume]
[respond]


#####################################################################
#   UUID Setting
#####################################################################
[mcu]
canbus_uuid: 3e3e9585b8a6

[mcu EBBCan]
canbus_uuid: 894a23030966
#trsync_start_timeout: 0.05

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 8000    			
max_z_velocity: 25 			
max_z_accel: 350
square_corner_velocity: 5.0



#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 64
rotation_distance: 40 #39.782 
#endstop_pin: ^EBBCan: PB6
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 355
position_max: 355
##--------------------------------------------------------------------
homing_speed: 20   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PF4 
driver_SGTHRS: 55



## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 64
rotation_distance: 40 #39.782
#endstop_pin: ^PF3
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 361
position_max: 361
##--------------------------------------------------------------------
homing_speed: 20  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PF3     
driver_SGTHRS: 55 # 255 is most sensitive value, 0 is least sensitive



#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3
[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#endstop_pin: ^PF5
endstop_pin: probe:z_virtual_endstop
position_max: 340

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0



##	Z1 Stepper - Rear Left on Motor4
[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z2 Stepper - Rear Right on Motor5
[stepper_z2]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0



##	Z3 Stepper - Front Right on Motor6
[stepper_z3]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0



[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 47.55888 #47.088 #22.6789511
gear_ratio: 9:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3
pressure_advance: 0.036
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 280
min_extrude_temp: 0
max_extrude_cross_section: 5
max_extrude_only_distance: 130.0



[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.6
stealthchop_threshold: 999999

#####################################################################
#   Fans
#####################################################################

[fan]
pin: EBBCan: PA1
# kick_start_time: 0.5
# off_below: 0.5

[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[multi_pin controller_fans]
pins: PF7,PF9

[controller_fan controller_fan]
##  Controller fan
pin: multi_pin:controller_fans
max_power: 0.4
kick_start_time: 0.5
heater: heater_bed


# [heater_fan nevermore_fan]
# #  Exhaust fan - Nevermore Filter
# pin: PF6
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 5.0
# heater: heater_bed
# heater_temp: 60
# fan_speed: 1.0 

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.008333
#pwm_cycle_time: 0.02088 #47.9hz #0.02227 #44.9Hz
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[temperature_sensor buildplate]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: -40
max_temp: 120

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PC5
min_temp: -40
max_temp: 100

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan: PA2
min_temp: -40
max_temp: 100

[temperature_sensor CB2]
sensor_type: temperature_host

#####################################################################
#   Probe
#####################################################################

[probe]
pin: ^!EBBCan: PB9
#z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
lift_speed: 150

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}





#####################################################################
#   Filament Sensor
#####################################################################
#https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/pause_resume_filament.html
#https://docs.vorondesign.com/community/howto/samwiseg0/btt_smart_filament_sensor.html

[filament_switch_sensor switch_sensor]
switch_pin: ^PF0
pause_on_runout: True
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M118 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^PC15
detection_length: 10  #default 2.88 but getting false positive during print start
extruder: extruder
pause_on_runout: True
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M118 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0                                  ; disable filament sensor
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=1                                  ; disable filament sensor
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1
    
[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0                                  ; disable filament sensor
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

#####################################################################
#   Bed Mesh, QGL, Input Shaper
#####################################################################

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	25,25
	25,325
	325,325
	325,25
#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

# [safe_z_home]
# home_xy_position:175,175
# speed:100
# z_hop:5

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 340,340
probe_count: 7,7
algorithm: bicubic
bicubic_tension: 0.2

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: z,-y,x

[resonance_tester]
probe_points: 175, 175, 20
accel_chip: adxl345


# [delayed_gcode setdisplayneopixel]
# initial_duration: 1
# gcode:
#        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 


[input_shaper]
shaper_freq_x: 60.6
shaper_freq_y: 38.2
shaper_type_x: mzv
shaper_type_y: ei


[skew_correction]

# [skew_correction]
# # AC 	100.10481
# # BD 	99.89508
# # AD 	70.71068



[homing_override]
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    G0 X175 Y175 F6600
    G28 Z
    G1 Z10
  {% endif %}


#################################################
################### Disco Led ###################
#################################################
#[neopixel disco]
#pin: PD15
#chain_count: 50
#color_order: GRB
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.3

[include moonraker_obico_macros.cfg]

# [extruder] #CW2 Extruder
# step_pin: EBBCan: PD0
# dir_pin: !EBBCan: PD1
# enable_pin: !EBBCan: PD2
# microsteps: 16
# rotation_distance: 22.2113438 #22.6789511
# gear_ratio: 50:10
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: EBBCan: PB13
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: EBBCan: PA3
# pressure_advance: 0.036
# #control: pid
# #pid_Kp: 21.527
# #pid_Ki: 1.063
# #pid_Kd: 108.982
# min_temp: 0
# max_temp: 280
# min_extrude_temp: 0
# max_extrude_cross_section: 5
# max_extrude_only_distance: 130.0



# [tmc2209 extruder]
# uart_pin: EBBCan: PA15
# run_current: 0.3
# stealthchop_threshold: 999999

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.056196, 0.006304, 0.043804, 0.063804, 0.066304, 0.036304, 0.018804, -0.006196, -0.063696
#*# 	-0.048696, -0.016196, 0.023804, 0.031304, 0.033804, 0.013804, -0.003696, -0.036196, -0.096196
#*# 	-0.073696, -0.026196, 0.016304, 0.031304, 0.023804, 0.001304, -0.026196, -0.063696, -0.103696
#*# 	-0.086196, -0.026196, 0.006304, 0.036304, 0.008804, -0.006196, -0.018696, -0.041196, -0.088696
#*# 	-0.096196, -0.028696, 0.026304, 0.046304, 0.033804, -0.003696, -0.023696, -0.056196, -0.091196
#*# 	-0.096196, -0.041196, 0.021304, 0.023804, -0.001196, -0.026196, -0.058696, -0.071196, -0.111196
#*# 	-0.106196, -0.048696, 0.018804, 0.038804, 0.006304, 0.001304, -0.038696, -0.048696, -0.076196
#*# 	-0.108696, 0.001304, 0.028804, 0.061304, 0.038804, 0.026304, 0.028804, 0.036304, -0.008696
#*# 	-0.078696, 0.003804, 0.091304, 0.123804, 0.101304, 0.076304, 0.098804, 0.086304, 0.073804
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 340.0
#*# min_y = 10.0
#*# max_y = 340.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.941
#*# pid_ki = 1.838
#*# pid_kd = 381.174
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.988
#*# pid_ki = 1.005
#*# pid_kd = 89.720
#*#
#*# [probe]
#*# z_offset = -0.570
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = 0.002097303459853171
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction Calilantern]
#*# xy_skew = 0.0022528461593806213
#*# xz_skew = -8.838835959471102e-05
#*# yz_skew = -0.0004447703267335531
